<div>
    @if (articlesQuery.isLoading()) {
      <div>Loading articles...</div>
    }

    @if (articlesQuery.error()) {
      <div>Error displaying articles</div>
    }

    @for (article of articlesQuery.data(); track article.id) {
        <div class="article">
          <div class="article-title">{{article.pubmed_id}}</div>
          <div class="button">
            <button (click)="selectArticleId(article.pubmed_id)">View article abstract</button>
          </div>
        </div>
    }


    @if (selectedPubMedId()) {

      @if (abstractQuery.isLoading()) {
      <div>Loading article abstract</div>
      }

      @if (abstractQuery.error()) {
        <div>Error displaying abstract</div>
      }

      @if (abstractQuery.data(); as data) {
        <div>Abstract</div>
        <div>
          {{ data }}
        </div>

        <input [(ngModel)]="questionText" placeholder="Ask something about this abstract" />
        <button (click)="askAbstractQuestion(data)">Ask</button>
        @if (chatMutation.isPending()) {
          <div>Loading</div>
        } @else if (chatMutation.isError()) {
          <div>Error displaying AI response</div>
        } @else {
          <div>{{ chatMutation.data() }}</div>
        }
        <p *ngIf="chatMutation.data()" class="ai-response">
              <strong>Gemini:</strong> {{ chatMutation.data() }}
        </p>
      }

    }

</div>
