<div class="max-h-screen max-w-screen grid grid-cols-4 gap-4 p-4">
    <div class="lister rounded-md border">
      @if (articlesQuery.error()) {
        <div>Error displaying articles</div>
      } @else if (articlesQuery.isLoading()) {
        <div class="flex justify-center items-center h-full">
          <hlm-spinner class="text-xl" />
        </div>
      }
      <ng-scrollbar hlm>
        <div class="p-4 flex flex-col gap-4 whitespace-nowrap max-h-screen overflow-y-scroll" scrollViewport>
          @for (article of articlesQuery.data(); track article.id) {
            <app-article-item [articleId]="article.pubmed_id" (selectArticle)="selectArticleEvent($event)"></app-article-item>
          }
        </div>
      </ng-scrollbar>
    </div>
    <div class="panel col-span-3 justify-center p-4 rounded-md border">
      @if (selectedPubMedId()) {
        @if (abstractQuery.error()) {
          <div>Error displaying abstract</div>
        } @else if (abstractQuery.isLoading()) {
          <div class="flex justify-center items-center h-full">
            <hlm-spinner class="text-xl" />
          </div>
        } @else if (abstractQuery.data(); as abstractData) {
          <h3><strong>Abstract</strong></h3>
          <div>
            {{ abstractData }}
          </div>

          <div class="mt-4">
            <div class="flex w-full items-center gap-2">
			          <input class="w-full p-2" hlmInput [(ngModel)]="questionText" placeholder="Ask a quesiton about the abstract" />
			          <button hlmBtn variant="outline" (click)="askAbstractQuestion(abstractData)">
                  @if (chatMutation.isPending()) {
                    <hlm-spinner />
                  } @else {
                    Ask
                  }
                </button>
		        </div>
          </div>

          <div class="mt-4 justify-center">
            @if (chatMutation.isPending()) {
              <div class="flex justify-center items-center h-full">
                <hlm-spinner class="text-xl" />
              </div>
            } @else if (chatMutation.isError()) {
              <div>Error displaying AI response</div>
            } 
            @if (chatMutation.data()) {
              <div hlmAlert>
			          <ng-icon hlm hlmAlertIcon name="lucideSparkles" />
			          <p hlmAlertDescription>{{ chatMutation.data() }}</p>
		          </div>
            }
          </div>
        }
      } @else {
        <div class="flex justify-center items-center h-full">
          <div>No abstract to display</div>
        </div>
      }
    </div>
</div>
